@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700)


$lightgray: #f5f5f5
$darkblue: #0277bd
$verydarkblue: #01579b
$lightblue: #03a9f4
$lightgreen: #8bc34a
$darkgreen: #7cb342
$primary_50: #e0f7fa
$primary_100: #b2ebf2
$primary_500: #00bcd4
$primary_600: #00acc1

html, body
  position: relative
  height: 100%
  font-size: 16px
  background-color: #f9f9f9
  font-family: 'Roboto', sans-serif
  font-weight: 300
  color: #5e5e5e


*:focus
  outline: none

.form-control:focus
  -webkit-box-shadow: none !important
  box-shadow: none !important

.center
  text-align: center


a:hover
  text-decoration: none

form
  margin-top: 40px
  padding: 20px
  p.form-info
    padding: 10px

  label.control-label
    font-weight: 500

.form-control
  background: transparent
  border: none

.control-label
  color: #5e5e5e

.form-control
  border: none
  @include box-shadow(none)
  border-radius: 0px
  background: #f8f8f8
  border: 1px solid #eee
  &:focus
    @include box-shadow(0px 0px 5px #ddd)

.btn:focus
  outline: none
  text-decoration: none

.btn:active
  outline: none
  text-decoration: none

.btn-primary
  color: $primary_500
  background: transparent
  border: none
  font-size: 16px
  border: 1px solid
  border-radius: 3px

.btn-primary:hover
  color: $primary_600
  background: transparent

.btn-link
  color: $primary_500
  border: 1px solid $primary_500
  border-radius: 4px

.btn-link:hover
  color: $primary_600
  background: $primary_50
  font-weight: bold
  text-decoration: none
  border: 1px solid $primary_600

input.form-control[type='text']
  border-left: 2px solid $primary_100 !important


.card
  @include box-shadow(0px 1px 3px rgba(0,0,0,0.2))
  border-radius: 2px
  background-color: white

.single-card
  height: 223px

.single-card-container
  padding: 12px 0 240px 0
  position: relative
  top: -123px

.single-card-row
  padding: 10px 0
  border-bottom: 1px solid #eee

.single-card-content
  padding: 0 24px