nav.navbar-default
  background: white
  border-bottom: none
  margin-bottom: 0px

  ul.nav
    li.active, li:hover
      a
        background: transparent
      a:hover
        background: transparent

div#context-nav
  background: $lightgray
  padding-top: 10px
  padding-bottom: 10px

  div.center
    text-align: center
    h1
      margin: 0
      font-size: 14px
      line-height: 1.5
      font-weight: 200

  div.right
    text-align: right