.list-group-item
  background: transparent
  border: none
  line-height: 2
  i
    margin-right: 6px
  &.active
    background: transparent
    font-weight: bold
    color: #555
    &:hover, &:focus
      background: transparent
      color: #555


a.list-group-item:hover, a.list-group-item:focus
  background: transparent

.list-group
  margin-top: 22px
  &.right
    text-align: right

