<div class='form-group display-row row'>
  <div class='col-xs-3'>
    <label><%= label %></label>
  </div>
  <div class='col-xs-9'>
    <div class='form-control'>
      <%= value %>
    </div>
  </div>
</div>