<nav class='navbar navbar-default' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='#'>Paymii</a>
    </div>

    <ul class='nav navbar-nav'>
      <li class='active'>
        <a href='#'>Contacts</a>
      </li>
      <li>
        <a href='#'>Invoices</a>
      </li>
      <li>
        <a href='#'>Projects</a>
      </li>
    </ul>
  </div>
</nav>